.flex-column {
  flex-direction: column;
}

.register {
  min-height: 65vh;
	display:  flex;
/*   background-color: #FFEED1; */
}

.footer {
  min-height:  30vh;
  display:  flex;
/*   background-color: #111118; */
  text-align: center;
}

.footer img {
  max-width: 260px;
	margin-bottom: 36px;
}

.register .container {
  display: flex;
}

.register h2 {
  font-size: 40px;
  margin-bottom: 48px;
  line-height: 1.1;
}

.sign-up {
  display: flex;
  border-bottom: solid 2px #FAEBD2;
  padding-bottom: 12px;
}

input {
  background: none;
  border: none;
  font-size: 21px;
  outline: none;
}

.email-input {
	/* this will tell our input to stretch out and fill
  the available space */
  flex: 1;
}

.submit {
  cursor: pointer;
}

.form {
  margin:  48px 24px;
}

.insta {
  width: 60px;
  height: 60px;
  background-image: url(../assets/img/svg/insta.svg);
}

/* these don't really matter because we are using background-size: contain and svg files */
.twit {
  width: 57px;
  height: 89px;
  background-image: url(../assets/img/svg/twit.svg);
	/* this aligns the hand to the bottom of its container */
  align-self: flex-end;
}

/* these three properties are what you will use for jsut about all background images used to fill an element */
.insta,
.twit {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin: 3vh;
}

@media (max-width: 780px) {

  .register .container {
		/*   this will stack our boxes on top of each other   */
    flex-direction: column;
  }

  .register h2 {
    font-size: 30px;
  }

  .form {
    margin: 24px 0;
  }

  .footer img {
    max-width: 120px;
  }

}
